<!-- Begin Schedule Section -->
<section id="schedule" class="schedule">
    <div class="content-wrapper">
            <p style="padding: 50px">Registering for any session means you will receive a link to all available session recordings. Please only register for limited capacity sessions you expect to attend.</p>
        <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 10 }'>
            {% for session in site.data.sessions %}
                {% if session.id != 301 and session.id != 503 and session.id != 000 and session.hidden != true %} 
                    <div class="grid-item">
                        <h5>{{ session.title  }}</h5>
                        {% if session.complexity != null %}
						<span class="theme-metadata"><span class="caption">Level: </span>{{ session.complexity }}</span>
						{% endif %}
						{% if session.length != null %}
						<span class="theme-metadata"><span class="caption">Length: </span>{{ session.length }}</span>
						{% endif %}
						{% if session.capacity != null %}
						<span class="theme-metadata"><span class="caption">Capacity: </span>{{ session.capacity }}</span>
						{% endif %}
                        <hr />
                        <span class="text-body">{{ session.description }}</span>
                        <div class="slot-theme">
                            {% for theme in site.data.themes %}
                                {% for session_theme in session.themes %}
                                    {% if session_theme == theme.id %}
                                    <div style="background-color:{{theme.color}}; color: {{theme.fontColor}}; border-radius: 50px; padding:1rem;display:inline-block;">
                                        {{theme.name}}
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Schedule Section -->